html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #212121;
    color: #f5f5f5;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.button {
    border: 1px solid #4a148c;
    padding: 5px 10px;
    margin: 5px 8px;
    font-weight: bold;
    border-radius: 30px;
    background: #4a148c;
    color: #f5f5f5;
}

.button:hover {
    background: #f5f5f5;
    color: #4a148c;
}

.button:active {
    background: #26a69a;
}

/* purple-900 #4a148c
pink-200 - #f48fb1
teal-400 #26a69a
 grey-100 - #f5f5f5
grey-900 - #212121 */

@tailwind base;
@tailwind components;
@tailwind utilities;
